.hero-section {
  position: relative;
  min-height: 100vh;
}
#vanta-canvas {
  height: 100vh;
}
.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5%;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  /* background: rgba(0, 0, 0, 0.258); */
  color: var(--clr-white);
}
.hero-text h1 {
  font-size: 3rem;
  padding: 0;
  text-align: left;
}
.empty-div {
  height: 0;
}

.empty-div {
  height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--clr-white);
}

.scroll-btn-container {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
}
.scroll-btn {
  font-size: 1.5rem;
  color: var(--clr-white);
}

/* projects section */
.projects-headline {
  padding: 1rem;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.3s;
}
.paragraph {
  opacity: 0;
  transform: translateX(-20%);
  transition: 0.3s;
  margin-bottom: 2rem;
}
.image-container {
  opacity: 0;
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem;
}
.image-container .card {
  display: flex;
  flex-direction: column;
  /* max-width: 250px; */
  transition: 0.3s ease-out;
}
.image-container .card p {
  background: #def;
}

.image-container .card img {
  /* height: 200px; */

  object-fit: cover;
}

/* ***animation** */
.fade-in {
  transform: translate(0%, 0%) !important;
  opacity: 1 !important;
}
/* ***animation** */
@media (min-width: 400px) {
}
@media (min-width: 768px) {
  /* projects section */
  #projects-section {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .image-container {
    margin-left: 1rem;
  }
  .image-container .card {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  main {
    min-height: 0px;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    margin: auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
  .hero-text {
    padding: 0;
    width: 500px;
  }
}
