.hero-section {
  min-height: 100vh;
}
#vanta-canvas {
  height: 100vh;
}
.hero-text {
}
.empty-div {
  height: 0;
}

@media (min-width: 400px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
